.header {
	display: flex;
	margin-bottom: 72px;
	align-items: center;
	justify-content: space-between;

	&__title {
		font-size: var(--font-size-l);

		&--pointer {
			cursor: pointer;
		}
	}
	&__form {
		gap: 8px;
		display: flex;
	}
}
