.color-header {
	display: flex;
	margin-bottom: 72px;
	align-items: center;
	justify-content: space-between;

	&__title {
		cursor: pointer;
		font-weight: 600;
		font-size: var(--font-size-l);
	}
	&__form {
		gap: 8px;
		display: flex;
	}
}
