.button {
	border: 0;
	height: 40px;
	cursor: pointer;
	border-radius: 6px;

	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-primary);
	}
}
.button--primary {
	padding: 0 16px;
	font-weight: 600;
	color: var(--color-primary);
	font-size: var(--font-size-s);
	background-color: var(--color-white);
	border: 1px solid var(--color-border);
}
.button--icon {
	width: 40px;
	background: var(--color-delete) url("/images/delete.svg") center no-repeat;

	&:disabled {
		cursor: default;
		background-color: var(--color-secondary);
	}
	.button__text--hidden {
		top: auto;
		width: 1px;
		height: 1px;
		left: -10000px;
		overflow: hidden;
		position: absolute;
	}
}
