.button {
	height: 40px;
	padding: 0 16px;
	cursor: pointer;
	font-weight: 600;
	border-radius: 6px;
	color: var(--color-primary);
	font-size: var(--font-size-s);
	background-color: var(--color-white);
	border: 1px solid var(--color-border);

	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-primary);
	}
}

.button__icon {
	border: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	border-radius: 6px;
	background: var(--color-delete) url("/delete.svg") center no-repeat;

	&:disabled {
		cursor: default;
		background-color: var(--color-secondary);
	}

	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-primary);
	}

	.button__icon-text--hidden {
		top: auto;
		width: 1px;
		height: 1px;
		left: -10000px;
		overflow: hidden;
		position: absolute;
	}
}
