.home {
	max-width: 640px;
	margin: 144px auto 72px;

	.home__header {
		display: flex;
		margin-bottom: 72px;
		align-items: center;
		justify-content: space-between;

		.home__headline {
			font-size: var(--font-size-l);
		}
	}

	.home__themes {
		gap: 40px;
		display: flex;
		flex-direction: column;
	}
}
