.color {
	height: 240px;
	padding: 16px;
	display: flex;
	border-radius: 12px;
	flex-direction: column;
	justify-content: space-between;

	&:hover:not(:has(.color__form:hover)) {
		cursor: pointer;
	}

	&__title {
		display: flex;
		flex-direction: column;

		&--details {
			font-size: var(--font-size-xs);
		}
	}

	&__form {
		padding: 8px;
		display: flex;
		border-radius: 12px;
		justify-content: space-between;
		background-color: var(--color-white);

		&-section {
			gap: 8px;
			display: flex;
		}
	}
}
