.empty {
	height: 160px;
	padding: 24px;
	display: flex;
	align-items: center;
	border-radius: 12px;
	justify-content: center;
	background-color: var(--color-background-bright);

	&__title {
		display: flex;
		align-items: center;
		flex-direction: column;
		font-size: var(--font-size-m);

		&--details {
			color: var(--color-secondary);
			font-size: var(--font-size-xs);
		}
	}
}
