.theme {
	gap: 16px;
	display: flex;
	flex-direction: column;

	&__link {
		height: 160px;
		display: flex;
		overflow: hidden;
		border-radius: 12px;

		& * {
			flex-basis: 100%;
			transition: flex-basis ease 0.2s;
		}
		& div:hover {
			flex-basis: 200%;
		}
	}

	&__title {
		display: flex;
		font-weight: 600;
		flex-direction: column;
		font-size: var(--font-size-m);

		&--details {
			color: var(--color-secondary);
			font-size: var(--font-size-xs);
		}
	}
}
