.link {
	height: 40px;
	display: flex;
	padding: 0 16px;
	font-weight: 600;
	border-radius: 6px;
	align-items: center;
	font-size: var(--font-size-s);
	color: var(--color-secondary);

	&--active {
		color: var(--color-primary);
		background-color: var(--color-background-bright);
	}
	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-primary);
	}
}
