.button__icon {
	border: 0;
	width: 40px;
	height: 40px;
	display: flex;
	cursor: pointer;
	border-radius: 6px;
	align-items: center;
	justify-content: center;
	background-color: var(--color-delete);

	&:disabled {
		cursor: default;
		background-color: var(--color-secondary);
	}

	&:focus-visible {
		outline-offset: 2px;
		outline: 2px solid var(--color-primary);
	}
}
