.theme__preview {
	gap: 16px;
	display: flex;
	flex-direction: column;

	.theme__preview-link {
		height: 160px;
		display: flex;
		overflow: hidden;
		border-radius: 12px;

		& * {
			flex-basis: 100%;
			transition: flex-basis ease 0.2s;
		}
		& div:hover {
			flex-basis: 200%;
		}
	}

	.theme__preview-title {
		display: flex;
		flex-direction: column;

		.theme__preview-title--small {
			color: var(--color-secondary);
			font-size: var(--font-size-xs);
		}
	}
}
